DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat
GATEKEEPER_API_KEY=
GATEKEEPER_BASE_URL=https://ws-8tr8jnnzj3p6xmk6.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1
GATEKEEPER_MODEL=
GATEKEEPER_WORKSPACE_NAME=Default Workspace
GATEKEEPER_WORKSPACE_ID=ws-8tr8jnnzj3p6xmk6
